<h1>スタッフ一覧</h1>

<div class="actions">
  <%= link_to "スタッフ追加", new_staff_path %>
  <%= link_to "ホームへ戻る", root_path %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>氏名</th>
      <th>稼働</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |s| %>
      <tr>
        <td><%= s.id %></td>
        <td><%= s.name %></td>
        <td><%= s.active ? "active" : "inactive" %></td>
        <td><%= link_to "編集", edit_staff_path(s) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
